{% extends 'base.html.twig' %}


{% block body %}
<header>
<div class="jumbotron">
    <h1>Bienvenue chez MyMuseum</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero exercitationem corrupti nesciunt laborum
        laudantium cum voluptate, totam veniam, suscipit mollitia assumenda, fuga debitis quo. Accusantium natus nihil
        cum sint ad.</p>
</div>

</header>
{% endblock %}

{% block javascripts %}
<script src="public/index.js"></script>
{% endblock %}
