{% extends 'base.html.twig' %}

{% block title %}MyMuseum : Trouver un Musée{% endblock %}

{% block body %}


<header class="container">

    {% for museum in museums %}

    <p><a href="{{ path('museum_show', {'id': museum.id}) }}" >  {{museum.NomOfficiel}} à {{museum.Ville}} </a></p>

    {% endfor %}
</header>
{% endblock %}
