{% extends 'base.html.twig' %}

{% block body %}
<header class="container">
<div class="jumbotron text-center">
    <h1>Bienvenue chez MyMusée</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero exercitationem corrupti nesciunt laborum
        laudantium cum voluptate, totam veniam, suscipit mollitia assumenda, fuga debitis quo. Accusantium natus nihil
        cum sint ad.</p>
</div>

</header>

{% endblock %}